
}

.conteiner {
    
}

#top_menu {
    
    line-height: 42,19px;
    
}

/*.logo {    
    width: 150px;
    height: 37px;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #000000;
}

.logo p {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}*/

/*.contacts {   
    width: 98px;
    height: 26px;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
}

.contacts a {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.routes {
    width: 114px;
    height: 22px;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
}

.routes a {
    color: #000;
}

.callback {
    width: 272px;
    height: 52px;
    background: #3750D0;
    border-radius: 6px;   
}

.callback a {
    color: #fff;
    margin-bottom: 15px;
    width: 169px;
    height: 22px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

#content {
    width: 580px;
}

#content p {
    font-size: 20px;
}

h1 {
    width: 589px;
    height: 112px;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #000;
}

.park {
    width: 675px;
    height: 140px;
    font-family: OpenSans;
    font-size: 20px;
    line-height: 28px;
    color: #000;
}

div .quad {
    width: 667px;
    height: 511px;
}*/

.reservation {
    border: 1px solid #3750D0;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 15px 36px;
}

.reservation a {
    color: #000;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}

.certificate {
    border: 1px solid #3750D0;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 15px 19px;
}

.certificate a {
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000;
}

#center {
    display: flex;
    margin-top: 30px;
}

.address_1 {
    width: 542px;
    height: 73px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000;
}

.address_2 {
    width: 570px;
    height: 59px;
    font-family: Open Sans;
    font-size: 20px;
    line-height: 28px;
    color: #000;
}

.map {
    width: 570px;
    height: 392px;
}

/*#advantages {
    margin-left: 30px;
}*/

.advantages_1 {
    width: 540px;
    height: 79px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000;
}

.advantages_2 {
    width: 500px;
    height: 55px;
    font-family: Open Sans;
    font-size: 20px;
    line-height: 28px;
    color: #000;
}

.row {
    display: flex;
}

